---
import type { Page } from 'astro';
import type { Lang } from '@i18n/types';

import styles from './styles.module.scss';
import { createTranslate } from '@i18n/translate';

export interface Props {
  url: Page['url'];
  lang: Lang;
}

const { url, lang: lng } = Astro.props;
const l10n = await createTranslate(lng);
---

<nav role="navigation" class={styles.container}>
  {
    url.prev ? (
      <a class={styles.pageLink} href={url.prev}>
        {l10n('prevPage', { lng })}
      </a>
    ) : null
  }
  {
    url.next ? (
      <a class={styles.pageLink} href={url.next}>
        {l10n('nextPage', { lng })}
      </a>
    ) : null
  }
</nav>
