---
import '../styles/main.scss';
import styles from '../styles/wallpaper.module.scss';
import BaseHead from '@components/BaseHead.astro';
import { BuildInfo } from '@components/BuildInfo/BuildInfo';
import { Navbar } from '@components/Navbar/Navbar';
import { SlantedHeader } from '@components/SlantedHeader/SlantedHeader';
import { changeLanguage } from 'i18next';
import { getCanonicalURL, aboutUrlMap } from 'utils/routing';
import { SocialLinksList } from '@components/SocialLinksList/SocialLinksList';

const { content } = Astro.props;

const { title, description } = content;
const canonicalURL = getCanonicalURL(Astro);

const relativePageUrl =
  canonicalURL.pathname.replace(/([^/]+)\/$/g, '$1') +
  canonicalURL.search +
  canonicalURL.hash;
const lang = content.lang || 'en';

changeLanguage(lang);
---

<html lang={lang} class="rmjs-yellow-black-theme">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="head" />
  </head>
  <body class={styles.wallpaper}>
    <article class="main">
      <Navbar
        client:load
        lang={lang}
        urlMap={aboutUrlMap}
        relativePageUrl={relativePageUrl}
      />
      <SlantedHeader title={title} />
      <div class="main-content"><slot /></div>
      <footer><SocialLinksList /></footer>
    </article>
    <slot name="after" />
    <BuildInfo />
  </body>
</html>
