---
import '../styles/main.scss';
import styles from '../styles/wallpaper.module.scss';
import BaseHead from '@components/BaseHead.astro';
import { BuildInfo } from '@components/BuildInfo/BuildInfo';
import { Navbar } from '@components/Navbar/Navbar';
import { changeLanguage } from 'i18next';
import { getCanonicalURL, categoryPageUrl, navbarLinks } from 'utils/routing';
import type { Props as BaseHeadProps } from '@components/BaseHead.astro';
import { SocialLinksList } from '@components/SocialLinksList/SocialLinksList';
import { Lang } from '@i18n/types';
import { SlantedHeader } from '@components/SlantedHeader/SlantedHeader';
import { CategoriesList } from '@components/CategoriesList/CategoriesList';
import { MarkdownInstance } from 'astro';
import { Category, Frontmatter } from 'utils/blog';
import { BlogPostCard } from '@components/BlogPostCard/BlogPostCard';
import { l10n } from '@i18n/config';
import { getNavbarMessages } from '@components/Navbar/helpers';

export interface Props extends BaseHeadProps {
  lang: Lang;
  posts: MarkdownInstance<Frontmatter>[];
  categories: Category[];
}

const {
  title,
  description,
  lang = 'en',
  posts,
  categories,
} = Astro.props as Props;

const canonicalURL = getCanonicalURL(Astro);

const relativePageUrl =
  canonicalURL.pathname.replace(/([^/]+)\/$/g, '$1') +
  canonicalURL.search +
  canonicalURL.hash;

const topCategoriesNames = categories.map(({ name }) => name).slice(0, 15);

changeLanguage(lang);
---

<html lang={lang} class="rmjs-yellow-black-theme">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="head" />
    <style lang="scss">
      @use '../styles/mixins/_breakpoints.scss' as br;

      .post-list {
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        padding: 0;

        @include br.media-breakpoint-up(lg) {
          padding: 0 64px;
        }
      }

      .blog-list-layout {
        display: grid;
        grid-template-columns: 1fr;

        @include br.media-breakpoint-up(lg) {
          gap: 24px;
          grid-template-columns: 8fr 2fr;
        }
      }

      .categories-list.categories-list {
        --category-min-width: 62px;
        gap: 14px;
        @include br.media-breakpoint-up(lg) {
          flex-flow: column nowrap;
          align-items: flex-start;
          --category-min-width: 200px;
          gap: 8px;
        }
      }

      .aside {
        display: flex;
        flex-flow: column nowrap;
        color: var(--accent-primary);
        gap: 16px;
        padding: 32px 8px 0;
        @include br.media-breakpoint-up(lg) {
          padding: 0;
        }
      }
    </style>
  </head>

  <body class={styles.wallpaper}>
    <article class="main">
      <Navbar
        client:load
        lang={lang}
        urlMap={null}
        relativePageUrl={relativePageUrl}
        messages={getNavbarMessages()}
      />
      <SlantedHeader
        title={title}
        logoHref={navbarLinks[lang]?.home}
        logoLabel={'homepage'}
      />
      <div class="main-content blog-list-layout">
        <ul class="list-style-none m-0 post-list">
          {
            posts.map((post) => (
              <li class="list-style-none m-0 p-0 d-contents">
                <BlogPostCard post={post} />
              </li>
            ))
          }
        </ul>
        <aside class="aside">
          <h2 class="h-2 m-0">{l10n('topCategoriesTitle')}</h2>
          <CategoriesList
            class="categories-list"
            baseUrl={import.meta.env.BASE_URL}
            categories={topCategoriesNames}
          />
          <a class="btn btn-primary" href={categoryPageUrl}
            >{l10n('showAllTags')}
          </a>
        </aside>
        <slot />
      </div>
      <footer><SocialLinksList /></footer>
    </article>
    <slot name="after" />
    <BuildInfo />
  </body>
</html>
