---
import '../styles/main.scss';
import styles from '../styles/wallpaper.module.scss';
import '../styles/layouts/blogPost.scss';
import BaseHead from '@components/BaseHead.astro';
import { BuildInfo } from '@components/BuildInfo/BuildInfo';
import { Navbar } from '@components/Navbar/Navbar';
import { changeLanguage } from 'i18next';
import { getCanonicalURL, navbarLinks } from 'utils/routing';
import { BlogPostInfo } from '@components/BlogPostInfo/BlogPostInfo';
import { SocialLinksList } from '@components/SocialLinksList/SocialLinksList';
import { SlantedHeader } from '@components/SlantedHeader/SlantedHeader';
import { BlogPostComments } from '@components/BlogPostComments/BlogPostComments';
import type { Lang } from '@i18n/types';
import { getNavbarMessages } from '@components/Navbar/helpers';
import {
  Breadcrumbs,
  type BreadcrumbsProps,
} from '@components/Breadcrumbs/Breadcrumbs';
import { l10n } from '@i18n/config';

const { content } = Astro.props;

const { title, description, createdAt = '', categories = [] } = content;
const canonicalURL = getCanonicalURL(Astro);

const relativePageUrl =
  canonicalURL.pathname.replace(/([^/]+)\/$/g, '$1') +
  canonicalURL.search +
  canonicalURL.hash;
const lang: Lang = content.lang || 'en';

changeLanguage(lang);

const breadcrumMessages = Object.fromEntries(
  (['breadcrumbs', 'scrollToTop'] as const).map((key) => [key, l10n(key)])
) as BreadcrumbsProps['messages'];
---

<html lang={lang} class="rmjs-yellow-black-theme">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="head" />
  </head>

  <body class={styles.wallpaper}>
    <article class="main">
      <Navbar
        client:load
        lang={lang}
        urlMap={null}
        relativePageUrl={relativePageUrl}
        messages={getNavbarMessages()}
      />
      <SlantedHeader
        title={title}
        logoHref={navbarLinks[lang]?.home}
        logoLabel={'homepage'}
      />
      <BlogPostInfo
        createdAt={createdAt ?? ''}
        categories={categories}
        baseUrl={import.meta.env.BASE_URL}
      />
      <div class="main-content pt-0">
        <slot /><BlogPostComments class="comments-box" />
        <Breadcrumbs
          client:idle
          currentPathname={canonicalURL.pathname}
          messages={breadcrumMessages}
          lang={lang}
          class="nav-breadcrumbs"
        />
      </div>
      <footer><SocialLinksList /></footer>
    </article>
    <slot name="after" />
    <BuildInfo />
  </body>
</html>
