---
import '../styles/main.scss';
import type { Lang } from '@i18n/types';
import styles from '../styles/wallpaper.module.scss';
import '../styles/layouts/categoriesList.scss';
import type { Category } from 'utils/blog';
import type { Props as BaseHeadProps } from '@components/BaseHead.astro';
import { getCanonicalURL, navbarLinks } from 'utils/routing';
import { changeLanguage } from 'i18next';
import { SocialLinksList } from '@components/SocialLinksList/SocialLinksList';
import { BuildInfo } from '@components/BuildInfo/BuildInfo';
import { SlantedHeader } from '@components/SlantedHeader/SlantedHeader';
import { Navbar } from '@components/Navbar/Navbar';
import BaseHead from '@components/BaseHead.astro';
import { CategoriesList as CategoriesListComponent } from '@components/CategoriesList/CategoriesList';
import { getNavbarMessages } from '@components/Navbar/helpers';
import { ViewTransitions } from 'astro:transitions';
import BrandLogo from '@components/BrandLogo/BrandLogo.astro';

export interface Props extends BaseHeadProps {
  lang: Lang;
  categories: Category[];
}

const { title, description, lang = 'en', categories } = Astro.props as Props;

const canonicalURL = getCanonicalURL(Astro);

const relativePageUrl =
  canonicalURL.pathname.replace(/([^/]+)\/$/g, '$1') +
  canonicalURL.search +
  canonicalURL.hash;

changeLanguage(lang);
---

<html lang={lang} class="rmjs-yellow-black-theme">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="head" />
    <ViewTransitions />
  </head>

  <body class={styles.wallpaper}>
    <article class="main">
      <Navbar
        client:load
        lang={lang}
        urlMap={null}
        relativePageUrl={relativePageUrl}
        messages={getNavbarMessages()}
      />
      <SlantedHeader
        title={title}
        logoHref={navbarLinks[lang]?.home}
        logoLabel={'homepage'}
      >
        <BrandLogo class="logo-small" />
      </SlantedHeader>
      <div class="main-content categories-list-layout">
        <CategoriesListComponent
          class="categories-list"
          categories={categories.map((r) => r.name)}
          baseUrl={import.meta.env.BASE_URL}
        />
        <slot />
      </div>
      <footer><SocialLinksList /></footer>
    </article>
    <slot name="after" />
    <BuildInfo />
  </body>
</html>
