---
import '../styles/main.scss';
import styles from '../styles/wallpaper.module.scss';
import BaseHead from '@components/BaseHead.astro';
import { BuildInfo } from '@components/BuildInfo/BuildInfo';
import type { Props as BaseHeadProps } from '@components/BaseHead.astro';
import { Navbar } from '@components/Navbar/Navbar';
import { changeLanguage } from 'i18next';
import { Lang } from '@i18n/types';
import { getCanonicalURL } from 'utils/routing';

export interface Props extends BaseHeadProps {
  lang: Lang;
  urlMap?: Partial<Record<Lang, string>>;
}

const { title, description, lang = 'en', urlMap } = Astro.props as Props;

const canonicalURL = getCanonicalURL(Astro);

const relativePageUrl =
  canonicalURL.pathname.replace(/([^/]+)\/$/g, '$1') +
  canonicalURL.search +
  canonicalURL.hash;

changeLanguage(lang);
---

<html lang={lang} class="rmjs-yellow-black-theme">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="head" />
  </head>

  <body class={styles.wallpaper}>
    <main class="main">
      <Navbar
        client:load
        lang={lang}
        urlMap={urlMap}
        relativePageUrl={relativePageUrl}
      />
      <slot />
    </main>
    <slot name="after" />
    <BuildInfo />
  </body>
</html>
