---
import '../styles/main.scss';
import BaseHead from '@components/BaseHead.astro';
import { BuildInfo } from '@components/BuildInfo/BuildInfo';
import type { Props as BaseHeadProps } from '@components/BaseHead.astro';
import { Navbar } from '@components/Navbar/Navbar';
import { changeLanguage } from 'i18next';
import { Lang } from '@i18n/types';

export interface Props extends BaseHeadProps {
  lang: Lang;
  urlMap?: Partial<Record<Lang, string>>;
}

const {
  title,
  description,
  permalink,
  lang = 'en',
  urlMap,
} = Astro.props as Props;

const relativePageUrl =
  Astro.canonicalURL.pathname.replace(/([^/]+)\/$/g, '$1') +
  Astro.canonicalURL.search +
  Astro.canonicalURL.hash;

changeLanguage(lang);
---

<html lang={lang} class="rmjs-yellow-black-theme">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="head" />
    <style lang="scss">
      @use '../styles/mixins/breakpoints';

      body {
        background-color: var(--bg-tertiary);

        @include breakpoints.media-breakpoint-up(lg) {
          background-image: url('/assets/tile-bg.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }

      .main {
        width: 100%;
        min-height: 100%;
        background-color: var(--bg-secondary);
        margin: 0 auto;
        overflow-x: hidden;

        @include breakpoints.media-breakpoint-up(lg) {
          max-width: 1200px;
          box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.14),
            0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px 1px rgba(0, 0, 0, 0.2);
        }
      }
    </style>
  </head>

  <body>
    <main class="main">
      <Navbar
        client:load
        lang={lang}
        urlMap={urlMap}
        relativePageUrl={relativePageUrl}
      />
      <slot />
    </main>
    <slot name="after" />
    <BuildInfo />
  </body>
</html>
