---
import '../styles/main.scss';
import styles from '../styles/wallpaper.module.scss';
import BaseHead from '@components/BaseHead.astro';
import Pagination from '@components/Pagination/Pagination.astro';
import { EventsList } from '@components/EventsList/EventsList';
import type { Props as BaseHeadProps } from '@components/BaseHead.astro';
import { BuildInfo } from '@components/BuildInfo/BuildInfo';
import { Navbar } from '@components/Navbar/Navbar';
import { SlantedHeader } from '@components/SlantedHeader/SlantedHeader';
import { getCanonicalURL, navbarLinks, pastEventsUrlMap } from 'utils/routing';
import { SocialLinksList } from '@components/SocialLinksList/SocialLinksList';
import type { Lang } from '@i18n/types';
import { getNavbarMessages } from '@components/Navbar/helpers';
import { ClientRouter } from 'astro:transitions';
import BrandLogo from '@components/BrandLogo/BrandLogo.astro';
import type { MeetupEventType } from '@api/meetup/event.graqhql.types';
import type { Page } from 'astro';
import { computeScheduledEvents } from 'utils/meetup-events';
import { h1HeadingDomId, slantedHeaderH1Config } from 'utils/a11y';
import { SkipToMainContent } from '@components/SkipToMainContent/SkipToMainContent';
import { createTranslate } from '@i18n/translate';

export interface Props extends BaseHeadProps {
  lang: Lang;
  page: Page<MeetupEventType>;
}

const { title, description, lang, page } = Astro.props;

const canonicalURL = getCanonicalURL(Astro);

const relativePageUrl =
  canonicalURL.pathname.replace(/([^/]+)\/$/g, '$1') +
  canonicalURL.search +
  canonicalURL.hash;

const scheduledEvents = computeScheduledEvents(page.data);
const l10n = await createTranslate(lang);
---

<html lang={lang} class="rmjs-yellow-black-theme">
  <head>
    <BaseHead lang={lang} title={title} description={description} />
    <slot name="head" />
    <ClientRouter />
  </head>
  <body class={styles.wallpaper}>
    <article class="main">
      <SkipToMainContent
        client:load
        targetId={h1HeadingDomId}
        label={l10n('skipToMainContent')}
      />
      <Navbar
        client:load
        lang={lang}
        urlMap={pastEventsUrlMap}
        relativePageUrl={relativePageUrl}
        messages={getNavbarMessages(l10n)}
      />
      <SlantedHeader
        {...slantedHeaderH1Config}
        title={title}
        logoHref={navbarLinks[lang]?.home}
        logoLabel={'homepage'}
      >
        <BrandLogo class="logo-small" />
      </SlantedHeader>
      <div class="main-content">
        <EventsList events={scheduledEvents} lang={lang} />
        <slot />
        <Pagination url={page.url} lang={lang} />
      </div>
      <footer><SocialLinksList /></footer>
    </article>
    <slot name="after" />
    <BuildInfo />
  </body>
</html>
