---
import '../styles/main.scss';
import styles from '../styles/wallpaper.module.scss';
import '../styles/layouts/upcoming-events.scss';
import BaseHead from '@components/BaseHead.astro';
import type { Props as BaseHeadProps } from '@components/BaseHead.astro';
import { BuildInfo } from '@components/BuildInfo/BuildInfo';
import { Navbar } from '@components/Navbar/Navbar';
import { SlantedHeader } from '@components/SlantedHeader/SlantedHeader';
import { changeLanguage } from 'i18next';
import { getCanonicalURL, aboutUrlMap, navbarLinks } from 'utils/routing';
import { SocialLinksList } from '@components/SocialLinksList/SocialLinksList';
import type { Lang } from '@i18n/types';
import { getNavbarMessages } from '@components/Navbar/helpers';
import type { CollectionEntry } from 'astro:content';
import { i18nLang } from '@i18n/config';
import { CFPCta } from '@components/CFPCta/CFPCta';
import { sortUpComingEvents } from 'utils/upcoming-events';

export interface Props extends BaseHeadProps {
  lang: Lang;
  upcomingEvents: CollectionEntry<'upcoming-events'>[];
}

const { title, description, lang, upcomingEvents } = Astro.props;

const canonicalURL = getCanonicalURL(Astro);

const relativePageUrl =
  canonicalURL.pathname.replace(/([^/]+)\/$/g, '$1') +
  canonicalURL.search +
  canonicalURL.hash;

changeLanguage(lang);

const startsAtFormatter = new Intl.DateTimeFormat(i18nLang[lang].locale, {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  timeZone: 'Europe/Rome',
});

const sortedUpcomingEvents = sortUpComingEvents(upcomingEvents);
---

<html lang={lang} class="rmjs-yellow-black-theme">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="head" />
  </head>
  <body class={styles.wallpaper}>
    <article class="main">
      <Navbar
        client:load
        lang={lang}
        urlMap={aboutUrlMap}
        relativePageUrl={relativePageUrl}
        messages={getNavbarMessages()}
      />
      <SlantedHeader
        title={title}
        logoHref={navbarLinks[lang]?.home}
        logoLabel={'homepage'}
      />
      <div class="main-content">
        <ul class="upcoming-events-list">
          {
            sortedUpcomingEvents.map((event) => {
              const parsedStartsAt = new Date(event.data.startsAt);
              const hasCFPCta = event.data.hasCallForPapers;
              return (
                <li>
                  <section class="upcoming-event">
                    <time datetime={parsedStartsAt.toISOString()}>
                      {startsAtFormatter.format(parsedStartsAt)}
                    </time>
                    <h3 class="upcoming-event-heading">
                      {event.data.title} {hasCFPCta && <CFPCta />}
                    </h3>
                  </section>
                </li>
              );
            })
          }
        </ul>
        <slot />
      </div>
      <footer><SocialLinksList /></footer>
    </article>
    <slot name="after" />
    <BuildInfo />
  </body>
</html>
