---
import '../styles/main.scss';
import styles from '../styles/wallpaper.module.scss';
import BaseHead from '@components/BaseHead.astro';
import type { Props as BaseHeadProps } from '@components/BaseHead.astro';
import { EventsList } from '@components/EventsList/EventsList';
import { BuildInfo } from '@components/BuildInfo/BuildInfo';
import { Navbar } from '@components/Navbar/Navbar';
import { SlantedHeader } from '@components/SlantedHeader/SlantedHeader';
import { changeLanguage } from 'i18next';
import { getCanonicalURL, aboutUrlMap, navbarLinks } from 'utils/routing';
import { SocialLinksList } from '@components/SocialLinksList/SocialLinksList';
import type { Lang } from '@i18n/types';
import { getNavbarMessages } from '@components/Navbar/helpers';
import { ViewTransitions } from 'astro:transitions';
import BrandLogo from '@components/BrandLogo/BrandLogo.astro';
import type { UpcomingEvent } from 'utils/meetup-events';
import { h1HeadingDomId, slantedHeaderH1Config } from 'utils/a11y';
import { SkipToMainContent } from '@components/SkipToMainContent/SkipToMainContent';
import { l10n } from '@i18n/config';

export interface Props extends BaseHeadProps {
  lang: Lang;
  upcomingEvents: UpcomingEvent[];
}

const { title, description, lang, upcomingEvents } = Astro.props;

const canonicalURL = getCanonicalURL(Astro);

const relativePageUrl =
  canonicalURL.pathname.replace(/([^/]+)\/$/g, '$1') +
  canonicalURL.search +
  canonicalURL.hash;

changeLanguage(lang);
---

<html lang={lang} class="rmjs-yellow-black-theme">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="head" />
    <ViewTransitions />
  </head>
  <body class={styles.wallpaper}>
    <article class="main">
      <SkipToMainContent client:load targetId={h1HeadingDomId} label={l10n('skipToMainContent')} />
      <Navbar
        client:load
        lang={lang}
        urlMap={aboutUrlMap}
        relativePageUrl={relativePageUrl}
        messages={getNavbarMessages()}
      />
      <SlantedHeader
        {...slantedHeaderH1Config}
        title={title}
        logoHref={navbarLinks[lang]?.home}
        logoLabel={'homepage'}
      >
        <BrandLogo class='logo-small' />
      </SlantedHeader>
      <div class="main-content">
        <EventsList events={upcomingEvents} lang={lang} />
        <slot />
      </div>
      <footer><SocialLinksList /></footer>
    </article>
    <slot name="after" />
    <BuildInfo />
  </body>
</html>
